*.log
.env-secrets
refinify-secrets
.DS_Store
installers/mac/Refinify.app/
installers/mac/*.zip
installers/mac/*.dmg
Thumbs.db
node_modules/
dist/
build/
coverage/
.env
.env.local
.env.*.local
*.tmp
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-*
